*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

header{
    width: 100%;
    height: 75px;
    padding: 1% 25px;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(gray,darkgray);
    opacity: 80%;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
    position: fixed;
}

header a{
    text-decoration: none;
    color: white;
}

#logo{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
    cursor: pointer;
    color: black;
}

.campoHeader{
    padding-top: 10px;
    font-size: 20px;
}

.campoHeader:hover{
    color: black;
}

body{
    background-color: rgba(38, 46, 50, 0.8);
}





.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding-bottom: 100px;
    flex-direction: column;
}

.formProdotto{
    width: 420px;
    color: white;
    opacity: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px 40px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 10 rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}

.formProdotto h1{
    text-align: center;
    margin-bottom: 10px;
}

.campoForm{
    width: 100%;
    height: 50px;
    margin: 10px 0;
    position: relative;
}

.campoForm input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px; 
}

.campoFormDescrizione textarea{
    width: 100%;
    height: 50px;
    margin: 10px 0;
    position: relative;

    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px; 
    min-height: 200px;
    max-height: 200px;
    max-width: 100%;
    min-width: 100%;
    text-decoration: none;
}

.campoForm input::placeholder{
    color: white;
}

.campoFormDescrizione textarea::placeholder{
    color: white;
}

.campoForm i {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember{
    font-size: 14px;
    margin: -15px 0 15px;
    padding: 10px 5px;
}

.form button{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
}

.campoImmagine{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.campoImmagine span{
    text-align: center;
}

.campoImmagine input{
    margin: auto 10px;
    cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button,
input[type="file"]::-webkit-file-upload-button:active,
input[type="file"]::-webkit-file-upload-button:focus {
    display: none;
}

