<!DOCTYPE html>
<html>
    <head>
        <title>cerca</title>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="/css/stileCercaProdottoFornitore.css">
    </head>

    <body>
        <header>
            <a href="/"><span id="logo">SIWCATALOG</span></a>

            <a class="campoHeader" href="/listaFornitori">Fornitori</a>

            <a class="campoHeader" href="/listaProdotti">Prodotti</a>

            <a th:if="${role!=null && role=='ADMIN'}" class="campoHeader" href="/formNewFornitore">Aggiungi un fornitore</a>

            <a th:if="${role!=null && role=='ADMIN'}" class="campoHeader" href="/formNewProdotto">Aggiungi un prodotto</a>

            <a class="campoHeader" th:unless="${userDetails}" href="/login">Login</a>

            <a class="campoHeader" th:if="${userDetails}"  href="/logout">Logout</a>
        </header>

        <p><br></p>

        <div class="content">
            <form class="ricerca" method="post" th:action="@{/cercaProdottoFornitore}" enctype="multipart/form-data">
                <input type="text" placeholder="Cerca" name="cerca" th:value="${cerca}">
                
                <button id="submit" type="submit"><i class='bx bx-search'></i></button>
            </form>

            <span class="titolo" th:if="${!prodotti.isEmpty()}">Prodotti trovati:</span>
            <span class="titolo" th:if="${prodotti.isEmpty()}">Nessun prodotto trovato</span>

            <div class="listaProdotti">
                <div class="prodotti" th:each="prodotto : ${prodotti}">
                    <div class="cardProdotto">  
    
                        <img th:src="@{'/immagineProdotto/' + ${prodotto.immagineProdotto.id}}">
    
                        <div class="informazioniProdotto">
                            <span class="nome" th:text="${prodotto.nomeProdotto}"></span>
                            <p class="prezzo" th:if="${!prodotto.fornitori.isEmpty()}">
                                <span>Prezzo: </span>
                                <span th:text="${prodotto.prezzo}"></span>
                                <span>€</span>
                            </p>
                            <p class="prezzo" th:if="${prodotto.fornitori.isEmpty()}">
                                <span>Prodotto non disponibile</span>
                            </p>
                            
                            <a class="dettagli" th:href="@{'/prodotto' + '/' + ${prodotto.id}}">dettagli prodotto</a>
                            <a th:if="${role!=null && role=='ADMIN'}" class="cancella" th:href="@{'/deleteProdotto/' + ${prodotto.id}}">Rimuovi</a>  
                        </div>
    
                    </div>
                </div>
            </div>

            <span class="titolo" th:if="${!fornitori.isEmpty()}">Fornitori trovati:</span>
            <span class="titolo" th:if="${fornitori.isEmpty()}">Nessun fornitore trovato</span>
    
            <div class="listaFornitori">
                <div class="fornitori" th:each="fornitore : ${fornitori}" >
                    <div class="cardFornitore">  
    
                        <div class="informazioni">
                            <span class="nome" th:text="${fornitore.nomeFornitore}"></span>
                            <p class="email">
                                <span>Email: </span>
                                <span th:text="${fornitore.emailFornitore}"></span>
                            </p>
                            <p class="email">
                                <span>Indirizzo: </span>
                                <span th:text="${fornitore.indirizzo}"></span>
                            </p>
                        </div>
    
                        <a class="dettagli" th:href="@{'/fornitore' + '/' + ${fornitore.id}}">dettagli fornitore</a>    
                        <a th:if="${role!=null && role=='ADMIN'}" class="cancella" th:href="@{'/deleteFornitore/' + ${fornitore.id}}">Rimuovi</a>
    
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>