<!DOCTYPE html>
<html>
    <head>
        <title>form register</title>
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<link rel="stylesheet" href="/css/stileFormRegistrazione.css">
    </head>

    <body>
        <header>
            <a href="/"><span id="logo">SIWCATALOG</span></a>

            <a class="campoHeader" href="/listaFornitori">Fornitori</a>

            <a class="campoHeader" href="/listaProdotti">Prodotti</a>

            <a th:if="${role!=null && role=='ADMIN'}" class="campoHeader" href="/formNewFornitore">Aggiungi un fornitore</a>

            <a th:if="${role!=null && role=='ADMIN'}" class="campoHeader" href="/formNewProdotto">Aggiungi un prodotto</a>

            <a class="campoHeader" th:unless="${userDetails}" href="/login">Login</a>

            <a class="campoHeader" th:if="${userDetails}"  href="/logout">Logout</a>
        </header>

		<p><br></p>

        <div class="registrazione">

            <form class="formRegistrazione" th:action="@{/register}" method="POST">
				<h1>Registrati</h1>

				<div class="campoForm">
					<input name="name" type="text" th:field="${user.name}" placeholder="Nome" required/>
					<span th:if="${#fields.hasErrors('user.name')}" th:errors="${user.name}" th:style="'color:red'"></span>
					<i class='bx bxs-user-plus' ></i>
				</div>

				<div class="campoForm">
					<input name="surname" type="text" th:field="${user.surname}" placeholder="Cognome"  required />
					<span th:if="${#fields.hasErrors('user.surname')}" th:errors="${user.surname}" th:style="'color:red'"></span>
					<i class='bx bxs-user-plus' ></i>
				</div>

				<div class="campoForm">
					<input name="email" type="email" th:field="${user.email}" placeholder="E-mail" required/>
					<span th:if="${#fields.hasErrors('user.email')}" th:errors="${user.email}" th:style="'color:red'"></span>
					<i class='bx bxs-envelope' ></i>
				</div>

				<div class="campoForm">
					<input name="username" type="text" th:field="${credentials.username}" placeholder="Username" required/>
					<span th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}" th:style="'color:red'"></span>
					<i class='bx bxs-user'></i>
				</div>

				<div class="campoForm">
					<input name="password" type="password" th:field="${credentials.password}" placeholder="Password" required/>
					<span th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}" th:style="'color:red'"></span>
					<i class='bx bxs-lock-alt' ></i>
				</div>
				
				<button id="submit" type="submit">Registrati</button>

				<div class="login">
					<p>sei già registrato? <a th:href="@{/login}"> Login</a></p>
				</div>
			</form>

        </div>
    </body>
</html>