<!DOCTYPE html>
<html>
    <head>
        <title>form update fornitore</title>
        <link rel="stylesheet" href="/css/stileFormUpdateFornitore.css">
    </head>

    <body>
        <header>
            <a href="/"><span id="logo">SIWCATALOG</span></a>

            <a class="campoHeader" href="/listaFornitori">Fornitori</a>

            <a class="campoHeader" href="/listaProdotti">Prodotti</a>

            <a th:if="${role!=null && role=='ADMIN'}" class="campoHeader" href="/formNewFornitore">Aggiungi un fornitore</a>

            <a th:if="${role!=null && role=='ADMIN'}" class="campoHeader" href="/formNewProdotto">Aggiungi un prodotto</a>

            <a class="campoHeader" th:unless="${userDetails}" href="/login">Login</a>

            <a class="campoHeader" th:if="${userDetails}"  href="/logout">Logout</a>
        </header>

        <p><br></p>


        <h1>Modifica i prodotti forniti da 
            <a th:href="@{'/fornitore' + '/' + ${fornitore.id}}">
                <span th:text="${fornitore.nomeFornitore}"></span>
            </a>
        </h1>

        <div class="content">

            <div class="prodottiInseriti">
                <span class="titolo">prodotti forniti: </span>        
                <div class="liste" th:each="prodottoFornito : ${fornitore.prodottiForniti}">
                    <div >  
                        <a th:href="@{'/removeProdotto/' + ${fornitore.id} + '/' + ${prodottoFornito.id}}">Rimuovi: </a>
                        <span th:text="${prodottoFornito.nomeProdotto}"></span>
                    </div>
                </div>
            </div>

            <div class="prodottiNonInseriti">
                <span class="titolo">Prodotti: </span>
                <span th:if="${prodotti==null || prodotti.isEmpty()}">non ci sono prodotti nel database</span>
                <div class="liste" th:each="prodotto : ${prodotti}">
                    <div >  
                        <a th:href="@{'/addProdotto/' + ${fornitore.id} + '/' + ${prodotto.id}}">Aggiungi:</a>    
                        <span th:text="${prodotto.nomeProdotto}"></span>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>