<!DOCTYPE html>
<html>
    <head>
        <title>form update prodotto</title>
        <link rel="stylesheet" href="/css/stileFormUpdateProdotto.css">
    </head>

    <body>
        <header>
            <a href="/"><span id="logo">SIWCATALOG</span></a>

            <a class="campoHeader" href="/listaFornitori">fornitori</a>

            <a class="campoHeader" href="/listaProdotti">prodotti</a>

            <a class="campoHeader" href="/formNewFornitore">aggiungi un fornitore</a>

            <a class="campoHeader" href="/formNewProdotto">aggiungi un prodotto</a>

            <a class="campoHeader" th:unless="${userDetails}" href="/login">Login</a>

            <a class="campoHeader" th:if="${userDetails}"  href="/logout">Logout</a>
        </header>

        <p><br></p>


        <h1>Modifica i fornitori di 
            <a th:href="@{'/prodotto' + '/' + ${prodotto.id}}">
                <span th:text="${prodotto.getNomeProdotto()}"></span>
            </a>
        </h1>

        
        <div class="content">
            
            <div class="fornitoriInseriti">
                <span class="titolo">Fornito da: </span>
                <div class="liste" th:each="fornitoreProdotto : ${prodotto.fornitori}">
                    <div>  
                        <a th:href="@{'/removeFornitore/' + ${prodotto.id} + '/' + ${fornitoreProdotto.id}}">Rimuovi: </a>
                        <span th:text="${fornitoreProdotto.nomeFornitore}"></span>
                    </div>
                </div>
            </div>
            
            <div class="fornitoriNonInseriti">
                <span class="titolo">Fornitori disponibili: </span>
                <span th:if="${fornitori==null || fornitori.isEmpty()==null}">non ci sono fornitori nel database</span>
                <div class="liste" th:each="fornitore : ${fornitori}" >
                    <div >  
                        <a th:href="@{'/addFornitore/' + ${prodotto.id} + '/' + ${fornitore.id}}">Aggiungi: </a>    
                        <span th:text="${fornitore.nomeFornitore}"></span>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>