<!DOCTYPE html>
<html>
    <head>
        <title>form new fornitore</title>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="/css/stileFormNewFornitore.css">
    </head>

    <body>
        <header>
            <a href="/"><span id="logo">SIWCATALOG</span></a>

            <a class="campoHeader" href="/listaFornitori">fornitori</a>

            <a class="campoHeader" href="/listaProdotti">prodotti</a>

            <a class="campoHeader" href="/formNewFornitore">aggiungi un fornitore</a>

            <a class="campoHeader" href="/formNewProdotto">aggiungi un prodotto</a>

            <a class="campoHeader" th:unless="${userDetails}" href="/login">Login</a>

            <a class="campoHeader" th:if="${userDetails}"  href="/logout">Logout</a>
        </header>

        <p><br></p>

        <div class="form">

            <form class="formFornitore" th:action="@{'/aggiornaFornitore/' + ${vecchioFornitore.id}}" method="POST" enctype="multipart/form-data" th:object="${nuovoFornitore}">
                <h1>Modifica <span th:text="${vecchioFornitore.nomeFornitore}"></span></h1>

                <div class="campoForm">
                    <input type="text" th:field="${nuovoFornitore.nomeFornitore}" placeholder="Nome" required/>
                </div>

                <div class="campoForm">
                    <input type="email" th:field="${nuovoFornitore.emailFornitore}" placeholder="Email" required/>
                </div>

                <div class="campoForm">
                    <input type="text" th:field="${nuovoFornitore.indirizzo}" placeholder="indirizzo"/>
                </div>
                    
                <div class="submit">
                    <button type="submit">conferma</button>
                </div>
            </form>

        </div>

    </body>
</html>