<!DOCTYPE html>
<html>
    <head>
        <title>fornitore</title>
    </head>

    <body>
        <h1><span th:text="${fornitore.nomeFornitore}"></span></h1>

        <div >  
            
            <span>Email: </span>
            <span th:text="${fornitore.emailFornitore}"></span>

            <a th:href="@{'/formUpdateFornitore/' + ${fornitore.id}}">aggiungi prodotti al fornitore</a>

            <div th:each="prodotto : ${fornitore.prodottiForniti}">
                <div >  
                    <span>Nome:</span>
                    <span th:text="${prodotto.nomeProdotto}"></span>
                </div>
            </div>
        </div>
    </body>
</html>