<!DOCTYPE html>
<html>
    <head>
        <title>siwcatalog index</title>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="/css/stile.css">
    </head>

    <body>
        <header>
            <a href="/"><span id="logo">SIWCATALOG</span></a>

            <a class="campoHeader" href="/listaFornitori">Fornitori</a>

            <a class="campoHeader" href="/listaProdotti">Prodotti</a>

            <a th:if="${role!=null && role=='ADMIN'}" class="campoHeader" href="/formNewFornitore">Aggiungi un fornitore</a>

            <a th:if="${role!=null && role=='ADMIN'}" class="campoHeader" href="/formNewProdotto">Aggiungi un prodotto</a>

            <a class="campoHeader" th:unless="${userDetails}" href="/login">Login</a>

            <a class="campoHeader" th:if="${userDetails}"  href="/logout">Logout</a>
        </header>

        <p><br></p>

        <form class="ricerca" method="post" th:action="@{/cercaProdottoFornitore}" enctype="multipart/form-data">
            <input type="text" placeholder="Cerca" name="cerca" th:value="${cerca}">
            
            <button id="submit" type="submit"><i class='bx bx-search'></i></button>
        </form>

    </body>
</html>