<!DOCTYPE html>
<html>
    <head>
        <title>lista prodotti</title>
        <link rel="stylesheet" href="/css/stileListaProdotti.css">
    </head>

    <body>
        <header>
            <a href="/"><span id="logo">SIWCATALOG</span></a>

            <a class="campoHeader" href="/listaFornitori">fornitori</a>

            <a class="campoHeader" href="/listaProdotti">prodotti</a>

            <a class="campoHeader" href="/formNewFornitore">aggiungi un fornitore</a>

            <a class="campoHeader" href="/formNewProdotto">aggiungi un prodotto</a>

            <a class="campoHeader" th:unless="${userDetails}" href="/login">Login</a>

            <a class="campoHeader" th:if="${userDetails}"  href="/logout">Logout</a>
        </header>

        <p><br></p>

        <div class="contenitore">
            <div class="prodotti" th:each="prodotto : ${prodotti}">
                <div class="card">  

                    <img th:src="@{'/immagineProdotto/' + ${prodotto.immagineProdotto.id}}">

                    <div class="informazioni">
                        <span class="nome" th:text="${prodotto.nomeProdotto}"></span>
                        <p class="prezzo" th:if="${!prodotto.fornitori.isEmpty()}">
                            <span>Prezzo: </span>
                            <span th:text="${prodotto.prezzo}"></span>
                            <span>€</span>
                        </p>
                        <p class="prezzo" th:if="${prodotto.fornitori.isEmpty()}">
                            <span>Prodotto non disponibile</span>
                        </p>
                        
                        <a class="dettagli" th:href="@{'/prodotto' + '/' + ${prodotto.id}}">dettagli prodotto</a>
                        <a class="cancella" th:href="@{'/deleteProdotto/' + ${prodotto.id}}">Rimuovi</a>  
                    </div>

                </div>
            </div>
        </div>

    </body>
</html>