<!DOCTYPE html>
<html>
    <head>
        <title>lista fornitori</title>
        <link rel="stylesheet" href="/css/stileListaFornitori.css">
    </head>

    <body>
        <header>
            <a href="/"><span id="logo">SIWCATALOG</span></a>

            <a class="campoHeader" href="/listaFornitori">Fornitori</a>

            <a class="campoHeader" href="/listaProdotti">Prodotti</a>

            <a th:if="${role!=null && role=='ADMIN'}" class="campoHeader" href="/formNewFornitore">Aggiungi un fornitore</a>

            <a th:if="${role!=null && role=='ADMIN'}" class="campoHeader" href="/formNewProdotto">Aggiungi un prodotto</a>

            <a class="campoHeader" th:unless="${userDetails}" href="/login">Login</a>

            <a class="campoHeader" th:if="${userDetails}"  href="/logout">Logout</a>
        </header>

        <p><br></p>

        <div class="contenitore">
            <span class="avviso" th:if="${fornitori.isEmpty()}">Sembra non ci siano fornitori nel sistema</span>

            <div class="fornitori" th:each="fornitore : ${fornitori}" >
                <div class="card">  

                    <div class="informazioni">
                        <span class="nome" th:text="${fornitore.nomeFornitore}"></span>
                        <p class="email">
                            <span>Email: </span>
                            <span th:text="${fornitore.emailFornitore}"></span>
                        </p>
                        <p class="email">
                            <span>Indirizzo: </span>
                            <span th:text="${fornitore.indirizzo}"></span>
                        </p>
                    </div>

                    <a class="dettagli" th:href="@{'/fornitore' + '/' + ${fornitore.id}}">dettagli fornitore</a>    
                    <a th:if="${role!=null && role=='ADMIN'}" class="cancella" th:href="@{'/deleteFornitore/' + ${fornitore.id}}">Rimuovi</a>

                </div>
            </div>
        </div>

    </body>
</html>