<!DOCTYPE html>
<html>
    <head>
        <title>lista fornitori</title>
    </head>

    <body>
        <h1>lista fornitori</h1>

        <div th:each="fornitore : ${fornitori}" class="blog-post"  >
            <div >  
                <span th:text="${fornitore.nomeFornitore}"></span>
                <span>Email: </span>
                <span th:text="${fornitore.emailFornitore}"></span>
                <span>Indirizzo: </span>
                <span th:text="${fornitore.indirizzo}"></span>
                <a th:href="@{'/fornitore' + '/' + ${fornitore.id}}">dettagli fornitore</a>    
                <a th:href="@{'/deleteFornitore/' + ${fornitore.id}}">Rimuovi</a>
            </div>
        </div>

    </body>
</html>