<!DOCTYPE html>
<html>
    <head>
        <title>Prodotto</title>
        <link rel="stylesheet" href="/css/stileProdotto.css">
    </head>

    <body>
        <h1>Prodotto</h1>
        <div th:if="${prodotto.immagineProdotto==null}">nessun immagine disponibile</div>
        <div class="immagine"><img th:src="@{'/immagineProdotto/' + ${prodotto.immagineProdotto.id}}"></div>
        <div class="informazioni">
            
            <span>Nome:</span>
            <span th:text="${prodotto.nomeProdotto}"></span>
            <span>prezzo:</span>
            <span th:text="${prodotto.prezzo}"></span>
            <span>Descrizione:</span>
            <span th:text="${prodotto.descrizione}"></span>
        </div>

        <a th:href="@{'/formUpdateProdotto/' + ${prodotto.id}}">aggiungi fornitori al prodotto</a>

        <div class="elencoFornitori" th:each="fornitore : ${prodotto.getFornitori()}">
            <span>Nome: </span>
            <span th:text="${fornitore.nomeFornitore}"></span>
        </div>

        <p><br></p>

        <div class="verificaCommento" th:if="${commentato}">
            <span>Lascia il tuo commento per il prodotto</span>
            <form th:action="@{'/addCommento/' + ${prodotto.id}}" method="POST" th:object="${commento}" enctype="multipart/form-data"  class="form-commento">
    
                <div class="campoForm">
                    <input type="text" th:field="${commento.titolo}" placeholder="Titolo" required/>
                </div>
                <div class="campoForm">
                    <input type="text" th:field="${commento.testo}" placeholder="Lascia qui il tuo commento" value="proviamo così" required/>
                </div>
                <div class="submit">
                    <button type="submit">Invia</button>
                </div>
            </form>
        </div>

        <p><br></p>

        <span th:if="${prodotto.getCommenti().isEmpty()}">Sembra non ci siano commenti per questo prodotto, sii il primo a lasciarne uno!</span>
        <div class="commenti" th:each="commento : ${prodotto.getCommenti()}">
            <div class="commento">
                <span th:if="${commento.autore==null}">Autore sconosciuto</span>
                <span th:if="${commento.autore!=null}">Autore: <span th:text="${commento.autore}"></span></span>
                <span th:text="${commento.titolo}"></span>
                <span th:text="${commento.testo}"></span>
                <a th:if="${role!=null && role=='ADMIN'}" th:href="@{'/removeCommento/' + ${prodotto.id} + '/' + ${commento.id}}">Rimuovi</a>
                <span th:if="${commento.autore==user.getUsername()}"><a th:href="@{'/removeCommento/' + ${prodotto.id} + '/' + ${commento.id}}">Modifica</a></span>
                <p></p>
            </div>
        </div>
    </body>
</html>