<!DOCTYPE html>
<html>
    <head>
        <title>Prodotto</title>
    </head>

    <body>
        <h1>Prodotto</h1>
        <div th:if="${prodotto.getImmagineProdotto()==null}">nessun immagine disponibile</div>
        <div class="immagine"><img th:src="@{'/immagineProdotto/' + ${prodotto.immagineProdotto.id}}"></div>
        <div class="informazioni">
            
            <span>Nome:</span>
            <span th:text="${prodotto.nomeProdotto}"></span>
            <span>prezzo:</span>
            <span th:text="${prodotto.prezzo}"></span>
            <span>Descrizione:</span>
            <span th:text="${prodotto.descrizione}"></span>
        </div>

        <a th:href="@{'/formUpdateProdotto/' + ${prodotto.id}}">aggiungi fornitori al prodotto</a>

        <div class="elencoFornitori" th:each="fornitore : ${prodotto.getFornitori()}">
            <span>Nome: </span>
            <span th:text="${fornitore.nomeFornitore}"></span>
        </div>
    </body>
</html>